.body{
    background-color: rgb(236, 236, 236);
}
.Formulaire{
    width: 50%;
    margin: 64px auto;
    padding: 32px;
    background-color: rgb(53, 54, 65);
    color: aliceblue;
}
.Hero{
    width: 100%;
    height: 300px;
    background-color: rgb(53, 54, 65);
}
.Formulaire #btn{
margin-top: 16px;
background-color: rgb(56, 96, 114);
color: aliceblue;
}
.Tableau{
    width: 50%;
    margin: 64px auto;
    padding: 32px;
    background-color: rgb(53, 54, 65);
    color: aliceblue;
}
h1{
    color: rgb(74, 122, 165);
    text-align: center;
}
.TableRecup{
    width: 50%;
    margin: 64px auto;
    padding: 32px;
    background-color: rgb(53, 54, 65);
    color: aliceblue;
}
.Tabaff{
    width: 50%;
    margin: 64px auto;
    padding: 32px;
    background-color: rgb(53, 54, 65);
    color: aliceblue;

}

/*Accueil*/
.Cat{
    width: 20%;
    height: 200px;
    background-color: rgb(255, 255, 255);
    margin: 32px 32px;
}
.Hero{
    background-image: url("hero.jpg");
    background-size: cover;
}
.Nvx button{
    padding: 12px;
    background-color: rgb(91, 143, 143);
    color: aliceblue;
    border-radius: 16px;
    border: none;
    
}
.Nvx{
    width: 20%;
    margin: 32px auto;
}
a{
    display: block;
    color: aliceblue;
    text-decoration: none;
}
.Categories{
    display: flex;
    width: 80%;
    margin: 0 auto;
}
/*footer*/

footer{
    width: 100%;
    height: 200px;
    background-color: rgb(68, 59, 59);
}
#casqueimg{
background-image: url("casque.jfif");
background-size: contain;
background-repeat: no-repeat;
background-position: center;

}
#vesteimg{
background-image: url("veste.jpg");
background-size: cover;
}
#pantimg{
background-image: url("pantalon.webp");
background-size: cover;
}
#bottesimg{
background-image: url("botte.webp");
background-size: contain;
background-repeat: no-repeat;
background-position: center;
}
.Categories a{
    display: block;
}
.Recherche{
    width: 50%;
    margin: 64px auto;
}
input{
    border-radius: 12px;
    padding: 8px;
}
td{
    margin: 16px;
}